
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
body {
    background-color: antiquewhite;
}
*{
    margin:0;
    padding:0;
}
nav{
    font-family:'Tilt Neon';
}
nav ul{
    display:flex;
    align-items:center;
    list-style-type:none;
    height:65px;
    background-color:black;
    color: white;
}
nav ul li{
    padding:0 12px;
}
.brand img{
    width:48px;
    padding: 0 8px;
}
.brand {
    display: flex;
    align-items: center;
    font-weight:bolder;
    font-size:1.3rem;
}
.Container {
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Tilt Neon';
    display: flex;
    margin: 23px auto;
    width: 60%;
    border-radius:12px;
    background-image:url(bg.jpg);
    background-position:center;
    background-size:cover;
 }
    .Container h1{
        margin:12px;
        padding: 0px;
    }
    .bottom {
        position: sticky;
        height: 100px;
        background-color: black;
        color: white;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
.icons{
    margin:15px;
}
.icons {
 cursor:pointer;
}
#myProgress {
    width: 80vw;
    text-align: center;
    cursor: pointer;
    color: #1DB954;
}
.songitemContainer{
    margin-top:54px;
}
.SongItem {
    height: 40px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
} 

.SongItem img{
 width:40px;
 margin:0 23px;
 border-radius:34px;
}
.timespam{
 margin: 0 23px;
 cursor:pointer;
}
.SongInfo {
    position: absolute;
    left: 9vw;
    font-family: 'Tilt Neon';
}
.SongInfo img{
   opacity:0;
   transition:opacity 1s ease-in;
}